@import url('https://fonts.googleapis.com/css?family=Montserrat:300|Varela+Round&display=swap');

:root {
  --site-header-font: 'Varela Round', sans-serif;
  --site-text-font: 'Montserrat', sans-serif;
}

/******************
SITE STYLES
*******************/

html {
  background-color: #a1351a;
}

.top-page-item {
  margin-top: 6em;
}

/******************
TOPBAR STYLES
*******************/
.lastNameHeader {
  padding-left: 1em;
}

.menu-link {
  display: inline-block;
  float: right;
  margin: 5.5vh 0;
  text-align: center;
  width: 7vw;
}

.menu-anchor{
  color: white;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: 1s;
}

.menu-anchor:hover {
  color: rgb(26,161,136);
}

.menu-anchor:hover::before {
  animation: menu-slide-in-left 1s;
  animation-fill-mode: forwards;
  content: '{ ';
  display: inline-block;
  left: -7px;
  opacity: 0;
  position: relative;
}
.menu-anchor:hover::after {
  animation: menu-slide-in-right 1s;
  animation-fill-mode: forwards;
  content: ' }';
  display: inline-block;
  opacity: 0;
  position: relative;
  right: -7px;
}

.nameContainer {
  display: inline-block;
  height: 100%;
  margin: auto;
  width: 20vw;
}

.nametext {
  color: white;
  font-family: var(--site-header-font);
  font-size: 2em;
  left: 12px;
  line-height: .8em;
  position: absolute;
  top: 12px;
}

.nametext > a {
  color: white;
  text-decoration: none;
}

.selected-menu-item {
  color: rgb(26,161,136);
}

.topbar {
  position: fixed;
  background-color: black;
  height: 5em;
  top: 0;
  width: 100%;
  z-index: 1;
}

@keyframes menu-slide-in-left {
  100% {left: -2px; opacity: 1;}
}
@keyframes menu-slide-in-right {
  100% {right: -2px; opacity: 1;}
}

/******************
MAIN BANNER STYLES
*******************/
.banner-img {
  height: 100%;
  position: absolute;
  top: 0;
}

.banner-text {
  animation: fade-in 2s;
  animation-fill-mode: forwards;
  color: white;
  font-family: var(--site-header-font);
  font-size: 7em;
  margin: auto;
  opacity: 0;
  text-align: center;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.banner-text::before {
  animation: banner-slide-in-left 2s;
  animation-fill-mode: forwards;
  content: "{";
  left: -.5em;
  opacity: 0;
  position: relative;
}
.banner-text::after {
  animation: banner-slide-in-right 2s;
  animation-fill-mode: forwards;
  content: "}";
  right: -.5em;
  opacity: 0;
  position: relative;
}

.main-banner {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 4em);
  justify-content: center;
  margin-top: 5em;
}

@keyframes banner-slide-in-left {
  100% {left: -1em; opacity: 1;}
}
@keyframes banner-slide-in-right {
  100% {right: -1em; opacity: 1;}
}

@keyframes fade-in {
  100% {opacity: 1;}
}

/******************
ABOUT PAGE STYLES
*******************/
.about-content {
  margin-top: 6em;
}

.about-picture {
  box-shadow: 0 0 2px 2px black;
  position: relative;
  float: left;
  height: 20em;
  margin: 0 2vw 2vh 2vw;
  object-fit: cover;
  width: 50%;
}

.about-text {
  font-family: var(--site-text-font);
  margin-top: 2vh;
}

.about-title {
  font-family: var(--site-header-font);
  text-align: center;
}

/******************
SLIDE IN ITEMS STYLES
*******************/

.slider {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
}

.slider-content {
  width: 50%;
}

.slider-holder {
  height: 20vh;
}

.slider-image {
  background-color: black;
  border-radius: 5px;
  color: white;
  height: 20vh;
  margin: 0 2vw;
  text-align: center;
}

.info-slide-in {
  opacity: 0;
  position: relative;
}

.info-slide-in-left {
  animation: info-slide-in-left 1.5s;
  animation-fill-mode: forwards;
  left: -2vw;
}

.info-slide-in-right {
  animation: info-slide-in-right 1.5s;
  animation-fill-mode: forwards;
  right: -2vw;
}

.slider-header{
  font-family: var(--site-header-font);
}

.slider-text {
  font-family: var(--site-text-font);
  margin: 0 2vw;
}

@keyframes info-slide-in-left {
  100% {opacity: 1; left: 0;}
}

@keyframes info-slide-in-right {
  100% {opacity: 1; right: 0;}
}

/******************
PROJECTS PAGE STYLES
*******************/

.project-description {
  display: inline-block;
  width: 75%;
}

.project-display {
  margin: 2vh 2vw;
}

.project-image {
  display: inline-block;
  margin: 1vh 2vw;
  width: 15%;
}


/******************
ANIMATION STYLES
*******************/

.slide-in-left {
  animation: slide-in-left 1.75s;
  animation-fill-mode: forwards;
  opacity: 0;
  position: relative;
  left: -2vw;
}

.slide-in-right {
  animation: slide-in-right 1.75s;
  animation-fill-mode: forwards;
  opacity: 0;
  position: relative;
  right: -5vw;
}



.fade-in {
  animation: fade-in 1.75s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes slide-in-left{
  100% {left: 0; opacity: 1;}
}

@keyframes slide-in-right{
  100% {right: 0; opacity: 1;}
}

@keyframes fade-in {
  100% {opacity: 1}
}
